<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <header style="background-color: darkgray;">Header portion</header>
        @RenderBody()
    <footer style="background-color: darkgray;">Footer portion</footer>
</body>
</html>
