<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <header>Header for index page</header>
        @RenderBody()
    <footer>Footer for index page</footer>
</body>
</html>
